  * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    }

   html{

    height:100%;
   }
   body {
      text-align: left;
      /*background-image: url("banner4.jpg");*/
      background-position: left;
      /*background-size: cover;*/
      background-repeat: no-repeat;
      /*background-position: -200px ;*/
      background-attachment: fixed;
      color: black;
      margin:0 auto;
      height:100%;
    }

   .table {
       display: table;
       padding: 5px;
   }
   .row {
       display: table-row;
       padding: 5px;
   }
   .col {
       display: table-cell;
       padding: 5px;
   }

   p.answer {
       padding: 0px 50px;
   }

   .answertext {
       clear: both;
       padding: 10px 50px;
   }

     h1 {
      font-family: 'Roboto', sans-serif; font-weight: 100;
      font-size: 30px;
      color: white;
      text-align: center;
      padding: 10px;
      margin: 20px 0px 0px 0px;
    }

    h1.test{
    color: green;
    }

    h2{
     font-family: 'Roboto', sans-serif; font-weight: 100;
      font-size: 25px;
      font-weight: bold;
      color: black;
      text-align: left;
      padding: 0px 10px 10px 0px;
      margin: 10px 0px 0px 0px;
     }

     h3{
    font-family: 'Roboto', sans-serif; font-weight: 100;
      font-size: 15px;
      font-weight: bold;
      color: black;
      text-align: left;
      padding: 0px 10px 10px 0px;
      margin: 10px 0px 0px 0px;

     }

    li{

    font-family: 'Roboto', sans-serif;
    }

    ul
    {
    list-style-type: none;
    }

    hr{
    align:left;
    width:400;
    margin:0;
     }

    a{
    color: black;
    }
     a:link {
    text-decoration: none;
    }
    header {
    text-align: center;
    /*background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));*/
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    color: white;
    margin: 0px 0px 50px 0px;
     }


    footer {
    text-align: center;
    /*background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));*/
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    color: white;
    height: 50px;
    clear: both;
    /*margin: 0;*/
    }

    aside {
    position:fixed;
    top: 200px;
    right: 150px;
    line-height: 28px;
    }

    form {
    font-family: 'Roboto', sans-serif;

    }
       p {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      line-height: 28px;
      text-align:justify;
    }
    .main{

      min-height: 100%;
      max-width: 600px;
      padding: 20px;
      margin: 0px auto -50px;
    }

    .main_wider{

      max-width: 1000px;
      padding: 20px;
      margin: 0 auto;

    }

    .qnbox{
    max-width: 500px;
    float: left;


/*      padding: 20px;
      margin: 0 auto;*/

    }

    .answerbox{
        max-width: 500px;
        padding: 0px 0px 0px 30px;
        margin-left: 500px;
        border-style: solid;
        border-width: 3px 0px;
    }

    .hintbox{

        /*background-color: #226666;*/
        padding: 10px 10px 10px 10px;
        margin: 10px 10px 10px 10px;
        /*opacity: 0.2;*/
    }

    .push{

        height:50px;

    }

    .pagewrapper{

        min-height: 100%;
        margin: 0 auto -50px;

    }
    .center-form { display:block ;  margin:auto; }
    form.hform { display:inline }
    button[type=submit] { padding:4px 0 ; width:80px }

    button {
    border: 0;
    background: #0087cc;
    border-radius: 4px;
    box-shadow: 0 5px 0 #006599;
    cursor: pointer;
    color: white;
    font: inherit;
    margin: 0;
    outline: 0;
    /* padding: 12px 20px; */
    transition: all .1s linear;

    }

    button:active {
    box-shadow: 0 2px 0 #006599;
    transform: translateY(3px);
    }

    .square1 {
  background: #00aa9d;
  border-radius: 3px;
  height: 50px;
  margin: 10px;
  float:left;
  position: absolute;
  transition: transform 0.8s;
  width: 150px;
}

#wrapper{

}

    /*.submit{

    background: #0087cc;
    }

    .hint{

    background: #fff;

    }*/
     a{
     font-family: 'Roboto', sans-serif;
     color: Green;
    }
     a:hover{
    color:ForestGreen;
    }
img {
    max-width: 100%;
    max-height: 450px;
}

    li.external_links{
    display: inline;
    margin: 0px 20px 20px 0px;
    padding:0;
    font-size: 20px;
    float: right;
    /*background:#0000ff;*/
    }

   @media (max-width: 300px){

     h1{
      font-size: 36px;
     }
     h2{
      font-size: 15px;
      color: black;
     }
     li{
      display: block;
      padding: 0px;
     }
     p{
        font-size: 20px;
        line-height: 24px;
     }
    div{
  margin: auto;
 }
    }