   body {
      text-align: left;
      /*background-image: url("banner4.jpg");*/
      background-position: left;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: -200px ;
      background-attachment: fixed;
      color: black;
      margin:0 auto;
    }

     h1 {
      font-family: 'Roboto', sans-serif; font-weight: 100;
      font-size: 70px;
      color: white;
      text-align: center;
      padding: 20px 10px 20px 10px;
      margin: 50px 0px 0px 0px;
    }

    h1.test{
    color: green;
    }

    h2{
     font-family: 'Roboto', sans-serif; font-weight: 100;
      font-size: 25px;
      font-weight: bold;
      color: black;
      text-align: left;
      padding: 0px 10px 10px 0px;
      margin: 10px 0px 0px 0px;
     }

     h3{
    font-family: 'Roboto', sans-serif; font-weight: 100;
      font-size: 15px;
      font-weight: bold;
      color: black;
      text-align: left;
      padding: 0px 10px 10px 0px;
      margin: 10px 0px 0px 0px;

     }

    li{

    font-family: 'Roboto', sans-serif;
    }


    hr{
    align:left;
    width:400;
     }
    a{
    color: black;
    }
     a:link {
    text-decoration: none;
    }
    header {
    text-align: center;
    /*background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));*/
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    color: white;
    margin: 0;
     }

    aside {
    position:fixed;
    top: 200px;
    right: 150px;
    line-height: 28px;
    }

    form {
    font-family: 'Roboto', sans-serif;

    }
       p {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      line-height: 28px;
      text-align:justify;
    }
    .blogroll{
      max-width: 600px;
      padding: 20px;
      margin: 0 auto;
    }

    .hintbox{

        /*background-color: #226666;*/
        padding: 10px 10px 10px 10px;
        margin: 10px 10px 10px 10px;
        /*opacity: 0.2;*/
    }

    button {
    border: 0;
    background: #0087cc;
    border-radius: 4px;
    box-shadow: 0 5px 0 #006599;
    cursor: pointer;
    color: white;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s linear;

    }

    button:active {
    box-shadow: 0 2px 0 #006599;
    transform: translateY(3px);
    }

    /*.submit{

    background: #0087cc;
    }

    .hint{

    background: #fff;

    }*/
     a{
     font-family: 'Roboto', sans-serif;
     color: Green;
    }
     a:hover{
    color:ForestGreen;
    }
img {
    width: auto;
    max-height: 400px;
}

    li.external_links{
    display: inline;
    margin: 0px 20px 20px 0px;
    padding:0;
    font-size: 20px;
    float: right;
    /*background:#0000ff;*/
    }

   @media (max-width: 300px){

     h1{
      font-size: 36px;
     }
     h2{
      font-size: 15px;
      color: black;
     }
     li{
      display: block;
      padding: 0px;
     }
     p{
        font-size: 20px;
        line-height: 24px;
     }
    div{
  margin: auto;
 }
    }