
<!DOCTYPE html>
{%include 'head.html' %}


<body>

  <article>
    {% include 'header.html' %}
    {% import 'macro.html' as macros %}
    {% include 'swag.html' %}

    <section class=container>
      <div class=content>
        <div>
        <h2>What is Planigale?</h2>
        <p class=intro> Planigale is a matching game using species from the <a href="http://eol.org/"> Encyclopedia of Life</a>. Planigale challenges you to match the picture of the species with its Latin name.
          <div>
          <h2> Latin name? </h2>
          <p class=intro>
            All organisms that have been discovered by science have been given a Latin name. These names follow a formal naming system first popularised by the Swedish botanist Carl Linnaeus called <a href='https://en.wikipedia.org/wiki/Binomial_nomenclature'>binomial nomenclature</a>:
          the first word relates to the organism's <a href='https://en.wikipedia.org/wiki/Genus'>genus</a> grouping, and the second name to the <a href=https://en.wikipedia.org/wiki/Species>species</a> grouping. The information in the brackets that comes
          afterwards relates the the person that first described that organism, and in what year.  </p>
        </div>
        </div>
        <div class= imgcontainer>
          <img src=http://media.eol.org/content/2011/10/06/00/54308_orig.jpg class=centerpic>
        </div>
        <div class = "explanation" >
            <div class="flipper">
              <div class="card">
                <figure class="front"><p>Genus</p></figure>
                <figure class="back"><p><i>Amphioctopus</i></p></figure>
              </div>
            </div>
            <div class="flipper">
              <div class="card">
                <figure class="front"><p class=taxonname>Species</p></figure>
                <figure class="back"><p><i>marginatus</i></p></figure>
              </div>
            </div>
            <div class="flipper">
              <div class="card">
                <figure class="front"><p>Described by</p></figure>
                <figure class="back"><p>(Taki, </figure>
              </div>
            </div>
            <div class="flipper">
              <div class="card">
                <figure class="front"><p>Year</p></figure>
                <figure class="back">1964)</figure>
              </div>
            </div>
        </div>
        <p><i>Hover over the cards to discover the Latin name for this octopus.</i></p>
      <div>
      <h2> Why is it called Planigale? </h2>
      We thought this <a href = "http://i.dailymail.co.uk/i/pix/2012/07/19/article-0-141F606E000005DC-916_634x744.jpg">tiny marsupial</a> deserved its own game.
      <h2> Who made this? </h2>
      <p class=intro> Planigale was a collaborative effort between <a href="http://linbug.github.io">Lin Taylor</a> and <a href = "http://dvndrsn.com">Dave Anderson</a> at the <a href="https://www.recurse.com/">Recurse Center.</a></div> </p>
    </section>

    {% include 'footer.html' %}
  </article>
</body>
