<!DOCTYPE html>

<head>

<title>{{title}}</title>

 <link rel="shortcut icon" href="happy.jpg">
<link rel="stylesheet" href="static/style.css"/>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>

</head>

<body >

{% include 'header.html' %}
{% import 'macro.html' as macros %}

<div class = blogroll>

<img src = {{question.picture}}>

<hr>
<p> Your guess was {{validation}}! The answer was <a href="{{ question.answer.web_url}}" target="_blank">{{ macros.italicise_names(question.answer|string()) }}</a>.</p>

<p> <i>{{ question.text }} </i> </p>

<p> Your other choices were: </p>

<ul>
  {% for species, text, thumb in zip(question.species, question.species_text, question.species_thumb) %}
  {% if species != question.answer %}
  <li><img src="{{ thumb }}"><b><a href="{{ species.web_url }}" target="_blank">{{ macros.italicise_names(species|string()) }}</a>.</b> </li>
  {% endif %}
  {% endfor %}
</ul>

<form method="post" action = "/next">

<button type="submit" > {%if question_num == total_questions%} Get your score! {%else%} Next question {%endif%} </button>
</form>

</div>

{% include 'footer.html' %}
</body>
