<!DOCTYPE html>
<head>

    <link rel="stylesheet" href="static/style.css"/>

</head>

<body>
    <article>
        {% include 'header.html' %}
        {% import 'macro.html' as macros %}
        <section class="container">
            <div class=content>
                <article class="answer">

                    <div class="ans-verification">
                        <h2>You were {{validation}}!</h2>
                    </div>
                    <div class="ans-choices">
                        <section class="ans-correct">
                            <div class="ans-lead">
                                <h3>The answer was..</h3>
                            </div>
                            <div class="ans-pic">
                                <img src={{question.picture}}>
                            </div>
                            <div class="ans-name">
                                <a href="{{ question.answer.web_url}}" target="_blank">{{ macros.italicise_names(question.answer) }}</a>
                                </div>
                            </section>
                            <section class="ans-others">
                                <div class="ans-others-lead">
                                    <h3>Your other choices were: </h4>
                                </div>
                                <div class="ans-others-list">
                                    {% for species, text, thumb in zip(question.species, question.species_text, question.species_thumb) %}
                                    {% if species != question.answer %}
                                      <div class="row">
                                        <div class="cell"><img src={{thumb}}></div>
                                        <div class="cell"><b><a href="{{ species.web_url }}" target="_blank">{{ macros.italicise_names(species)}}</a></b> </div>
                                        </div>

                                        {% endif %}
                                      {% endfor %}
                                    <div class=buttoncontainer>
                                        <form method="post" action = "/next">

<button type="submit" > {%if question_num == total_questions%} Get your score! {%else%} Next question {%endif%} </button>
</form>
                                    </div>
                                </section>
                            </div>
                            <section class="ans-description">
                                <div class="ans-text">
                                    <p>
                                    {{ question.text }}
                                    </p>
                                </div>
                            </section>

                        </article>
                    </div>
                </section>

                <footer>footer</footer>
            </article>
        </body>