

<!DOCTYPE html>

<head>

<title>{{title}}</title>

 <link rel="shortcut icon" href="happy.jpg">
<link rel="stylesheet" href="static/style.css"/>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>

</head>

<body >

<header>
    <h1 >Planigale</h1>

</header>

<div class = blogroll>

  <img src="http://i.dailymail.co.uk/i/pix/2012/07/19/article-0-141F606E000005DC-916_634x744.jpg">
  <p>Play a game of Planigale?</p>

  <form action="/question" method="get">
    <button type="submit" value="Play Planigale">Play Planigale!</button>
  </form>

</div>

</script>
</body>
