

<!DOCTYPE html>


<head>

<title>{{title}}</title>

 <link rel="shortcut icon" href="happy.jpg">
<link rel="stylesheet" href="static/style.css"/>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>

</head>

<body >
{% include 'header.html' %}

<div class = blogroll>

  <img src="http://i.dailymail.co.uk/i/pix/2012/07/19/article-0-141F606E000005DC-916_634x744.jpg"> </img>

  <h2> Planigale is a game based on the Encyclopedia of Life. Match the picture to the species name! </h2>

  <form action="/newgame" method="post">
    <h3> Play a game of planigale! </h3>
    How many questions?
    <input type="text" name="num_questions" value="3" >  <br>
    <br>
    How difficult can you handle?
    <br>
    <input type= "radio" name="difficulty" value = "easy">Easy (unlimited hints!) <br>
    <input type= "radio" name="difficulty" value = "medium">Medium (limited hints!)<br>
    <input type= "radio" name="difficulty" value = "hard">Hard (hints be damned!)<br>

    <br>
    <button type="submit" value="Play Planigale">Go!</button>
  </form>
  <br>
  <br>
</div>

{% include 'footer.html' %}

</body>
