<!DOCTYPE html>
{%include 'head.html' %}
<script src="hrs.js"></script>

<body>
  <article>
    {% include 'header.html' %}
    {% import 'macro.html' as macros %}
    <section class=container>
      <div class=content>
        <h2 class=question> Question {{ question_num }} of {{ total_questions }}</h2>


        <p>  Which species is in the picture?
        </p>

        <div class=questioncontainer>

          <div class=forminputs>
            <div class=questionbox>
              <img class=questionpic src={{question.picture}}>

            </div>

            <div class=questionbox>
              <form  action="/answer" method="post">
                {% for species in question.species %}
                <div class=inputrow>
                    <input type="radio" name="choice" value={{loop.index0}} default>
                    {{macros.italicise_names(species, hint=hint)}}
                </div>
                <br>
                    {% endfor %}

                <div class=buttoncontainer>

                  <button name = "submit" type="submit" value="0" >Submit!</button>
                </div>
              </form>



            </div>

          </div>



        </div>
        <hr>

        <p> You have {{hints_remaining}} hints remaining </p>
            {% if hints_remaining>0 %}
            <form  method="post" action = "/question#Buttons">
                <div class=buttoncontainer>
                    <button type="submit" name = "hint" value = True > Give me a hint! </button>
                </div>
                </form>
            {% endif %}

        {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}

    </section>
    <hr>
    <footer>footer</footer>
  </article>
</body>