

<!DOCTYPE html>

<head>

<title>{{title}}</title>

 <link rel="shortcut icon" href="happy.jpg">
<link rel="stylesheet" href="static/style.css"/>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>

</head>

<body >

<header>
    <h1 >Planigale</h1>

</header>

<div class = blogroll>

{% for question in game.questions %}
<img src = {{question.picture}}>

<ul>
{% for species in question.species %}
<li>{{species.scientific_name}} ({{ species.common_name }})
</li>
{% endfor %}
</ul>

{% endfor %}


</div>

</script>
</body>