<!DOCTYPE html>

{%include 'head.html' %}

<body>
    <article>

        {% include 'header.html' %}
        {% import 'macro.html' as macros %}

        <section class="container">
            <div class=content>
                <div class = something>
            <div class="sum-full">
              <div class="sum-full-lead">
                <h2>Summary</h2>
                <p>{{game.score}} of {{game.total_questions}} questions correct!</p>
            </div>
        </div>

        {% for question in game.questions %}
        <div class="sum-question">
          <div class="sum-quest-lead">
            <h3>Question {{loop.index}}.</h3>
        </div>
        {% for species, text, thumb in zip(question.species, question.species_text, question.species_thumb) %}
        <div class="sum-quest-ans">
            <div class="{% if species == question.answer %} answer {% endif %}row">
              <div class="thumb cell">
                <img src={{thumb}}>
              </div>
              <div class="choice-text cell">
                <a href="{{ species.web_url }}" target="_blank">{{ macros.italicise_names(species)}}</a>
              </div>
              <div class="verify">

                {% if species == question.guess %}
                    {% if question.guess == question.answer %}

                <i class = "fa fa-check fa-2x" background= green ></i>


                {% else %}
                <i class = "fa fa-times fa-2x"></i>
                {% endif %}
                {% endif %}
              </div>
            </div>
        </div>




    {% endfor %}


            </div>
        {% endfor %}


        </div>

    </div>

        </section>

    </article>

</body>